.container {
  display: flex;
  height: 100vh;
  background: #1b1b1b;
  font-size: 1.6rem;
  padding: 4px;
  color: var(--color-primary);
}

.container form {
  margin: 90px 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container button {
  display: block;
  height: 5rem;
  width: 10rem;
  background: rgb(122, 58, 58);
  align-items: center;
}

/* input,
textarea {
  background-color: #1b1b1b;
  color: var(--color-primary);
}

textarea {
  resize: none;
}

label {
  display: block;
} */
