.container{
    height: 100%;
    color: var(--color-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}


.container h2{
    font-size: var(--font-size-title);
    font-family: var(--font-sub);
}

.container p a{
    color: var(--color-trx);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.container p a:hover{
    font-size: calc(var(--font-size-subTitle) + 0.5rem);
}



.container section{
    display: flex;
    min-width: 300px;
    gap: 3px;
    
}
.img{
    cursor: pointer;
    height: 55em;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s ease;
    border-radius: 10px;
    user-select: none;
}

.img.active{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.container p, a{
    font-family: var(--font-sub);
    font-size: var(--font-size-subTitle);
}

@media (min-width: 980px){
    .container section{
        width: 800px;
    }
    .img:hover{
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    }
}

@media (min-width: 678px){
    
    .container section{
        width: 500px;
    }

}

