.container{
    height: 100%;
    color: var(--color-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(240deg,rgb(78, 78, 78),  rgb(0, 0, 0));
    padding: 20px;
}


.container h2{
    font-size: var(--font-size-title-s);
    font-family: var(--font-sub);
}

.container p a{
    color: var(--color-trx);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.container p a:hover{
    text-shadow: 3px 3px 30px var(--color-trx);
}

.container section{
    display: flex;
    min-width: 300px;
    gap: 3px;
    
}
.img{
    cursor: pointer;
    height: 47em;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s ease;
    border-radius: 10px;
    user-select: none;
}

.img.active{
    width: 220px;
    opacity: 1;
    filter: contrast(120%);
}

.container p, a{
    font-family: var(--font-sub);
    font-size: var(--font-size-subTitle-s);
}

@media (min-width: 768px) and (max-width: 899px){

    .container h2{
        font-size: var(--font-size-title-m);
    }

    .container section{
        width: 450px;
        gap: 5px; 
        margin-top: 10px;
        margin-bottom: 15px; 
    }

    .img{
        height: 47rem;
    }

    .img.active{
        width: 0;
        opacity: .5;
    }

    .img:hover{
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    }
}

@media (min-width: 900px) and (max-width: 1600px){
    .img{
        height: 55rem;
    }

    .container section{
        width: 540px;
        gap: 8px;
        margin-top: 10px;
        margin-bottom: 15px; 
    }

    .img.active{
        width: 0;
        opacity: .5;
    }

    .img:hover{
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    }
}

@media (min-width: 1600px){

    .container h2{
        font-size: var(--font-size-title-m);

    }

    .container section{
        width: 700px;
        gap: 9px;
        margin-top: 10px;
        margin-bottom: 15px; 
    }

    .img{
        height: 55rem;
    }

    .container p, a{
        font-size: var(--font-size-subTitle);
    }

    .img.active{
        width: 0;
        opacity: .5;
    }

    .img:hover{
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    }
}
