* {
  box-sizing: border-box;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  padding: 0;
  font-family: var(--font-primary);
  letter-spacing: 1px;
}

html {
  font-size: 62.5%;
  background-color: var(--color-bg);
  
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-box-shadow: var(--color-bg-input);
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-font);
}

:root {
  --color-primary: #ffd300;
  --color-secundary: #08090d;

  --color-trx: #ffd300;
  --color-bg: #08090d;
  --color-bg-s: linear-gradient(0deg, #2c2c2c, var(--color-bg));
  --color-font: #fdfefe;
  --color-bg-input: 0 0 0px 1000px rgba(0, 0, 0, 0.9) inset;
  --color-bg-app: #191919;
  --color-bg-form: #111111;
  --color-border-form: #929292;

  --font-primary: 'Open Sans', sans-serif;
  /* --font-sub: 'Cinzel Decorative', serif; */
  --font-sub: 'Bebas Neue', sans-serif;

  --font-size-text: 1.4rem;
  --font-size-text-l: 2.3rem;
  --font-size-text-m: 3rem;
  --font-size-title: 5rem;
  --font-size-title-xl: 6rem;
  --font-size-title-m: 4rem;
  --font-size-title-s: 3rem;
  --font-size-subTitle: 3rem;
  --font-size-subTitle-s: 2.5rem;
  --font-size-nav: 2.75rem;
  --font-size-error: 1.33rem;
  --font-size-msg: 1.33rem;
  --font-size-button-s: 1.8rem;
  --font-size-button-m: 2.2rem;
  --font-size-button-l: 2.9rem;
  --font-size-button-xl: 3.2rem;
}

/* body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
} */
