.main{
  background-color: black;
}

.homeContainer {
  height: 100vh;

  margin: auto;
  margin-top: 60px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.60);
  position: relative;
  z-index: 10;
}

.backgroundVideo{
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.video{
  height: 99.9vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 5;

}

.articleText {
  height: max-content;
  width: auto;
  z-index: 10;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.articleText p {
  font-family: var(--font-sub);
  color: var(--color-font);
  font-size: var( --font-size-text-l);
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

.articleButton{
  display: flex;
  gap: 30px;
}

.articleButton a {
  text-decoration: none;
  margin: auto;
}

.articleButton button {
  height: 60px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--font-sub);
  
  color: var(--color-font);
  background-color: rgba(0, 0, 0, 0.70);
  border: 1px solid var(--color-trx);

  animation: crecer-encoger 3s infinite linear;

  box-shadow: 0.5px 0.5px 1px var(--color-primary);
  transition: all 0.5s ease;
}

.homeContainer img{
  /* position: absolute; */
  height: 62rem;
  filter: grayscale(100%);
  /* top: 0; */
}

@keyframes crecer-encoger {
  0% {
    box-shadow: 0.1px 0.1px .1px var(--color-trx);

  }

  50% {
    box-shadow: 2px 2px 20px var(--color-trx);


  }

  100% {
    box-shadow: 0.1px 0.1px .1px var(--color-trx);
  }
}

@media (max-width: 1457px) {

  .homeContainer img{
    height: 50rem;
  }

  .articleText p {
    font-size: var( --font-size-text-m);
    
  }

  .articleButton button{
    width: 250px;
    font-size: 2.3rem
  }

}

@media (max-width: 580px) {

  .homeContainer{
    padding-bottom: 30px;
  }

  .homeContainer img{
    height: 35rem;
    top: 80px;
  }

  .articleText p {
    font-size: var( --font-size-text-s);
 
  }

  .articleButton{
    flex-wrap: wrap;
    gap: 20px;
  }

  .articleButton button{
    height: 50px;
    width: 220px;
    font-size: 2rem
  }
}

@media (max-width: 361px) {
  .homeContainer{
    padding: 60px 10px 20px 10px;

  }

  .homeContainer img{
    height: 30rem;
    top: 80px;
  }

  .articleText p {
    font-size: var( --font-size-text-s);
 
  }

  .articleButton button{
    height: 50px;
    width: 220px;
    font-size: 2rem
  }
}

@media (max-height: 740px){

  .homeContainer{
    padding: 30px 10px 20px 10px;

  }
  .homeContainer img{
    height: 33rem;
  }

  .articleText p {
    font-size: var( --font-size-text-s);
 
  }

  .articleButton button{
    height: 50px;
    width: 220px;
    font-size: 2rem
  }

}