.homeContainer {
  height: calc(100vh + 60px);
  margin-top: 60px;
  background-image: url("../../../images/3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  justify-content: baseline;
  align-items: center;
  /* border-bottom: 20px solid var(--color-secundary); */
}

.articleText {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 30px;
  margin-left: 150px;
}

.articleText p {
  font-family: var(--font-secundary);
  color: var(--color-font);
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.articleText a {
  text-decoration: none;
}

.articleText button {
  min-height: 50px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 3em;
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
  color: var(--color-font);

  background-color: var(--color-secundary);
  border-radius: 50px;
  border: 2px solid var(--color-primary);
  box-shadow: 1px 1px 1px var(--color-primary);
  transition: all 0.5s ease;
}

.articleText button:hover {
  box-shadow: 1px 4px 30px var(--color-font);
}

@media (max-width: 1457px) {
  .articleText {
    margin-top: 150px;
    height: 300px;
  }

  .articleText p {
    font-size: 2.8rem;
  }
}

@media (max-width: 1270px) {
  .homeContainer {
    background-position: center top;
    justify-content: center;
    align-items: end;
  }

  .articleText p {
    font-size: 2.8rem;
  }

  .articleText {
    justify-content: end;
    gap: 60px;
    margin: 0;
  }
}

@media (max-width: 529px) {
  .homeContainer {
    height: 90vh;
    align-items: end;
    background-size: cover;
  }

  .articleText {
    margin-bottom: 60px;
  }

  .articleText p {
    font-size: 2.3rem;
  }

  .articleText button {
    margin: auto;
    width: 250px;
  }
}
