.main{
  background: linear-gradient(120deg,rgb(78, 78, 78),  rgb(0, 0, 0));
}

.homeContainer {
  height: calc(100vh + 60px);
  margin-top: 60px;
  background-image: url("../../../images/img-home.png");

  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  justify-content: baseline;
  align-items: center;
  /* border-bottom: 20px solid var(--color-secundary); */
}

.articleText {
  height: 390px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
  text-align: center;
  padding: 30px;
  margin-left: 250px;
}

.articleText p {
  font-family: var(--font-sub);
  color: var(--color-font);
  font-size: var( --font-size-text-m);
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.articleText a {
  text-decoration: none;
}

.articleText button {
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: var(--font-primary);
  font-style: italic;
  color: black;

  animation: crecer-encoger 3s infinite linear;

  background-color: var(--color-trx);
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 1px 1px 1px var(--color-primary);
  transition: all 0.5s ease;

}

@keyframes crecer-encoger {
  0% {
    box-shadow: 0.1px 0.1px .1px var(--color-trx);

  }

  50% {
    box-shadow: 3px 3px 30px var(--color-trx);


  }

  100% {
    /* box-shadow: 0.1px 0.1px .1px var(--color-trx); */
  }
}

@media (max-width: 1457px) {
  .articleText {
    margin-top: 150px;
    height: 300px;
    margin-left: 100px;
  }

  .articleText p {
    font-size: 2.8rem;
  }
}

@media (max-width: 1270px) {
  .homeContainer {
    background-position: center top;
    justify-content: center;
    align-items: end;
  }

  .articleText p {
    font-size: 2.8rem;
  }

  .articleText {
    justify-content: end;
    gap: 60px;
    margin: 0;
  }
}

@media (max-width: 529px) {
  .main{
    background: none
  }
  
  .homeContainer {
    height: 100vh;
    align-items: end;
    background-size: cover;
  }

  .articleText {
    margin-bottom: 20px;
    gap: 5px;
  }

  .articleText p {
    font-size: 2.3rem;
  }

  .articleText button {
    margin: auto;
    width: 250px;
  }
}
