.container {
  height: calc(100vh - 60px);
  max-width: 1200px;
  color: var(--color-font);

  padding: 3em 1.5em;
  margin-left: auto;
  margin-right: auto;
  
}

.container h2 {
  padding: 50px;
  font-family: var(--font-sub);
  text-align: center;
  font-size: var(--font-size-title);
  margin-bottom: 0;
}

.contactWapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contactWapper * {
  padding: 1em;
}

.contactForm {
  background-color: var(--color-bg-form);
  margin-top: 12px;
}

.contactForm form p {
  margin: 0;
  padding: 1em;
  font-size: var(--font-size-text);
  font-family: var(--font-primary);
}

.contactForm form {
  display: grid;
  grid-template-columns: 1fr;
}

/* .contactForm form .block {
  grid-column: 1 / 3;
} */

.contactForm form button,
.contactForm form input,
.contactForm form textarea {
  color: var(--color-font);
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid var(--color-border-form);
  resize: none;
}

.contactForm form button:focus,
.contactForm form input:focus,
.contactForm form textarea:focus{
  border-bottom: 1px solid var(--color-trx);
}

.contactForm form button {
  display: block;
  font-family: var(--font-sub);
  font-size: var(--font-sub);
  font-weight: bold;
  color: var(--color-bg-form);
  background: var(--color-primary);
  border: 0;
  padding: 1em;
}

.contactForm form button:hover,
.contactForm form button:focus {
  background: #ffd300;
  
}

.contactInfo {
  background: #000;
  font-size: var(--font-size-text);
}

.contactInfo h4,
.contactInfo ul,
.contactInfo p {
  text-align: center;
  margin: 0 0 1.6rem 0;
}

.contactInfo ul {
  list-style: none;
  padding: 0;
}

/** Large screen*/

@media (min-width: 700px) {
  .container {
    padding: 0 5rem;
  }

  .contactWapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contactWapper {
    .contactWapper * {
      padding: 2em;
    }
  }

  .contactForm form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contactForm form .block {
    grid-column: 1 / 3;
  }

  .contactInfo h4,
  .contactInfo ul,
  .contactInfo p {
    padding: 1em;
    text-align: left;
  }
}
