.container{
  height: 100%;
  max-width: 1150px;
  color: var(--color-font);
  padding: 1.5em;
  padding-bottom: 3em;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  font-family: var(--font-sub);
  font-size: var(--font-size-title-m);
}

.contactWapper {
  max-width: 1100px;
  margin-bottom: 60px;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contactWapper * {
  padding: 0.8em;
}

.contactForm {
  max-width: 900px;
  background-color: var(--color-bg-form);
}

.contactForm form p {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: var(--font-size-text);
  font-family: var(--font-primary);
}

.contactForm form input,
.contactForm form textarea {
  color: var(--color-font);
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid var(--color-border-form);
  resize: none;
}

.contactForm form input:focus,
.contactForm form textarea:focus{
  border-bottom: 1px solid var(--color-trx);
}

.button{
  height: 4rem;
  width:250px;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 3px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  font-family: var(--font-sub);
  font-size: var(--font-size-button-m);
  background-color: var(--color-primary);

  &:hover{
    box-shadow: 0px 0px 10px var(--color-trx);
  }
}

.contactInfo{
  display: flex;
  flex-direction: column;
  background: #000;
  font-size: var(--font-size-text);
}

.contactInfo h4,
.contactInfo p {
  text-align: center;
  margin: 0 0 1.6rem 0;
}

.contactInfo ul{
  list-style-type: none;
}

.block{
  width: 99%;
  font-size: var(--font-size-text);
  font-family: var(--font-primary);
}

@media (min-width: 700px){
  
  .contactWapper{
    display: flex;
  }

  .contactInfo{
    width: 300px;
    justify-content: space-between;
  }

  .contactForm{
    display: flex;
    width: 350px;
  }

  .contactForm form{
    width: 100%;
  }

}

@media (min-width: 1200px){
  .container{
    height: 100vh;
    justify-content: center;
  }
  .contactWapper{
    width: 1100px;
  }

  .contactForm{
    width: 750px;
  }

  .contactInfo{
    width: 400px;
  }

  .contactForm form{
    display: flex;
    flex-wrap: wrap;
  }

  .contactForm form input{
    width: 310px;
  }
}