.cardContainer {
  height: 300px;
  width: 220px;
}

.image {
  height: 300px;
  width: 220px;
  align-self: center;
  bottom: 7px;
  position: relative;
  transition: width 2s;
}

@media (max-width: 764px){
  .cardContainer {
    height: 150px;
    width: 120px;
  }
  
  .image {
    height: 150px;
    width: 120px;
    align-self: center;
    bottom: 7px;
    position: relative;
    transition: width 2s;
  }
}

