.container {
  height: calc(100vh - 70vh);
  width: 100%;
  position: relative;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../images/json.webp");
  background-size: cover;
  
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  background-attachment: inherit;
  filter: blur(5px); /* Aplica el desenfoque al fondo */
  z-index: -1;
}

.container article {
  text-align: center;
  margin: auto 30px;
}

.container a{
  font-family: var(--font-sub);
  font-size: var(--font-size-title);
  color: var(--color-font);
  text-decoration: none;
  transition: 0.5s ease;
}

.container a:hover{
  filter: contrast(120%);
}

.container p {
  color: var(--color-primary);
  font-family: var(--font-sub);
  font-size: var(--font-size-title);
  letter-spacing: 2px;
  margin: 10px 20px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
}


@media (max-width: 470px) {
  .container {
    height: calc(100vh - 55vh);
  }

  .container h3 {
    font-size: 3em;
  }
}

/* .bgImg {
  height: 100vh;
  width: 100%;
  background-image: url("../../../images/span1.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  z-index: -11;
  opacity: 0.6;
} */
