.container{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    bottom: 0;
    background: var(--color-bg);
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--color-primary);
}

.links{
    display: none;
}

.setionsFooter{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.copyright{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-primary);
    color: var(--color-font);
}

.networks{
    display: flex;
    align-items: center;
    flex-direction: column; 
    /* gap: 25px; */
}

.networksList{
    display: flex;
    gap: 7px;
}

.networksList a{ 
    height: 40px;
    width: 40px;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.8));
}

/* .logo{
  height: 80px;  
  width: 80px;
  background-image: url("../../../images/logo-artonio-blanco.png");
  background-size: contain;
  background-repeat: no-repeat;
} */

.logo{
    height:auto;
    width: 80px;
}

@media (min-width: 700px){
    .networks{
        padding-right: 25px;
    }
    .links{
        height: 100px;
        padding: 3px;
        margin-top: 19px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        
    }

    .links a{
        color: var(--color-font);
        font-family: var(--font-sub);
        font-size: 1.6rem;
        padding-left: 15px;
    }

    .logo{
        width: 90px;
    }

    .setionsFooter{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1000px){
    .container{
        height: 150px;
    }
    .setionsFooter{
        justify-content: space-around;
    }
    
    .links a{
        font-size: 1.9rem;
        
    }

    .logo{
        width: 100px;
    }
}

