.container {
  min-height: 99vh;
  max-height: calc(99% - 60px);
  min-width: 100%;
  max-width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 60px auto;
  margin-bottom: 0px;

  background-image: url("../../../images/fondo-textura-hormigon-negro-grunge.jpg");
  background-position: center;
  background-size: cover;
}

.tittleContainer{
  margin-top: 35px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.tattoButton, .paintButton {
  color: #fdfefe28;
  background-color: transparent;
  border: none;
  font-family: var(--font-sub);
  font-size: 2rem;
  
  text-shadow: 1px 1px 1px #a7a7a728;
  animation: crecer-encoger 3s infinite linear;
  transition: all 0.5s ease;


}

@keyframes crecer-encoger {
  0% {
    text-shadow: 0.1px 0.1px .1px #a7a7a728;
  }

  50% {
    text-shadow: 0.5px 0.5px .5px rgba(255, 211, 0, 0.5);;
  }

  100% {
    text-shadow: 0.1px 0.1px .1px #a7a7a728;
  }
}

.activeTattoButton, .activePaintButton {
  color: var(--color-font);
  background-color: transparent;
  border: none;
  font-family: var(--font-sub);
  font-size: var(--font-size-title);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.container h2 {
  font-size: var(--font-size-title);
  font-family: var(--font-sub);
  font-weight: bold;
  color: var(--color-font);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
  margin-top: 60px;
  margin-bottom: 0;
}

.container p{
  font-size: 2rem;
  font-family: var(--font-sub);
  font-weight: bold;
  color: var(--color-font);
  margin: 0;

}

.buttonContainer{
  display: flex;
  gap: 10px;

}

.containerImages {
  width: 400px;
  padding: 30px;
  margin-bottom: 30px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer{
  margin-top: auto;
  width: 100%;
}

@media (min-width: 764px){
  .container{
    width: 1200px;
  }

  .container h2 {
    font-size: var(--font-size-title);
  }
  .containerImages{
    width: 1000px;
  }
  
  .tattoButton, .paintButton{
    font-size: 3rem;
  }

  .activeTattoButton, .activePaintButton{
    font-size: var(--font-size-title);
  }
  .container p{
    font-size: 3rem;
  }
  
}

