.container{
    min-height:  100vh;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg,  #37383b, var(--color-bg));
}

.section{
    height: max-content;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: var(--color-font);
    
}

.section h2{
    font-size: var( --font-size-subTitle);
}

.section p {
    font-size: 13px;

}

.button{
    margin: 20px;
    height: 50px;
    width: 245px;
  font-size: var(--font-size-button-l);
  font-family: var(--font-sub);
  font-weight: bold;
  margin-top: 35px;
  background-color: var(--color-trx);
  color: var(--color-bg-form);
  border-radius: 30px;
  cursor: pointer;

  &:active{
    transform: scale(0.95);
  }
}
