.container {
  height: 100vh;
  min-height: max-content;

  margin-top: 60px;
  padding: 60px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--color-font); */
  background-image: url("../../../images/muro-hormigon-gris.jpg");
  background-position: center;
  background-size: cover;
  font-weight: bold;
}

.container h2 {
  font-size: var(--font-size-title-m);
  font-family: var(--font-sub);
  font-weight: bold;
  color: var(--color-bg);
  margin: 30px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  align-content: center;
}

.container section {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.articleText {
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  
}

.articleText h3 {
  font-family: var(--font-primary);
  font-size: 4.2rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  align-self: center;
}

.text1{
  font-family: var(--font-primary);
  font-size: 1.9rem;
}

.text2{
  font-family: var(--font-sub);
  font-size: 2rem;
  margin: 30px;
  margin-top: 60px;
}

.articlePhoto{
  border-radius: 20px;
  height: 530px;
  width: 353px;

  background-image: url("./../../../images/img-about.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1366px) {
  .container h2{
    font-size: var(--font-size-title-s);
  }

  .articlePhoto img{
    border-radius: 20px;
    height: 522px;
    width: 317px;
  }
}

@media (max-width: 673px) {
  .container{
    height: 100%;
  
  }

  .container h2{
    margin-bottom: 19px;
    font-size: var(--font-size-title-s);
  }

  .container section {
    flex-wrap: wrap-reverse;
    gap: 10px;
  }

  .articleText {
    width: calc(100vw - 50px);
    margin: auto;
    margin-bottom: 10px;
  }
  .articlePhoto img{
    width: calc(100vw - 50px);
    margin: auto;
  }

  .text1{
    font-family: var(--font-primary);
    font-size: 1.5rem;
  }
  
  .text2{
    font-family: var(--font-sub);
    font-size: 1.6rem;
    padding: 10px 20px;
    margin: 15px;
  }
  
}
